# local package
-e .

# external requirements
click==8.1.7
Sphinx==6.2.0
coverage==7.4.2
awscli==1.44.87
flake8==7.0.0
python-dotenv==1.0.0
fastapi==0.114.0
uvicorn==0.24.0
pymongo==4.8.0
pandas==3.0.2
scikit-learn==1.8.0
imbalanced-learn==0.14.1
joblib==1.5.3
pytest==9.0.3
httpx==0.28.1
pydantic==2.13.3